---
import Alert from "../components/Alert.astro";
import Layout from "../components/Layout.astro";
import { supabase } from "../utils/database";
import Content from "../components/Content";

export const prerender = false;

const tableName = "heat_index";

let heat_index;
let coaches;

// Fetch frameworks data from Supabase if connection is set up
if (supabase) {
  const { data, error: err } = await supabase.from(tableName).select("*");
  console.log(err);
  const { data: temp, error: _ } = await supabase.rpc("agg_by_coach");
  coaches = temp;
  heat_index = data;
}
---

<Layout title="Hot Seat">
  {
    supabase ? (
      heat_index ? (
        <>
          <h1 class="my-2 text-4xl font-bold">
            Who is on the Hot Seat of NFL Head Coaches?
          </h1>
          <Content source={heat_index} coaches={coaches} client:only />
        </>
      ) : (
        <Alert
          title="Oh no!"
          text={`connected to supabase, but cannot find table: ${tableName}`}
        />
      )
    ) : (
      <>
        <Alert
          title="Not connected to supabase"
          text="Please attempt to reconfigure"
        />
      </>
    )
  }
</Layout>
