---
import Alert from "../components/Alert.astro";
import Layout from "../components/Layout.astro";
import { supabase } from "../utils/database";
import Content from "../components/Content";
import WhatIf from "../components/WhatIf";
import type { coachRow, seasonRow } from "../../supabase/types";
import { Games, get_random_input } from "../utils/util";
import How_It_Works from "../components/How_It_Works";
import Footer from "../components/Footer";

export const prerender = false;

const tableName = "coach_year";

let heat_index: seasonRow[] | null = null;
let coaches: coachRow[] = [];

// Fetch frameworks data from Supabase if connection is set up
if (supabase) {
  const { data, error: err } = await supabase.from(tableName).select("*");
  console.log(err);
  const { data: temp, error: _ } = await supabase
    .from("agg_by_coach_view")
    .select("*");
  if (temp == null) {
    coaches = [];
  }
  coaches = temp as coachRow[];
  heat_index = data;
}
---

<Layout title="Hot Seat">
  {
    supabase ? (
      heat_index ? (
        <div class="min-h-screen flex flex-col">
          <div class="flex flex-col md:flex-row gap-4 flex-grow">
            {/* Hot Seat Standings */}
            <div class="w-full md:w-1/2 overflow-y-scroll">
              <h1 class="my-2 text-2xl md:text-4xl lg:text-5xl xl:text-6xl text-center font-bold">
                Who is on the Hot Seat?
              </h1>
              <Content source={heat_index} coaches={coaches} client:only />
            </div>
            {/* What If Engine*/}
            <div class="w-full md:w-1/2 overflow-y-scroll">
              <h1 class="my-2 text-2xl md:text-4xl lg:text-5xl xl:text-6xl text-center font-bold">
                What If?
              </h1>
              <WhatIf
                source={
                  heat_index
                    ? heat_index
                        .filter((row) => row.year == 2025)
                        .sort((a, b) => a.name.localeCompare(b.name))
                    : []
                }
                client:only
              />
              <div>
                <h1 class="my-2 text-2xl md:text-4xl lg:text-5xl xl:text-6xl text-center font-bold">
                  How Does it Work?
                  <How_It_Works />
                </h1>
              </div>
            </div>
          </div>
          <div class="mt-auto">
            <Footer client:only />
          </div>
        </div>
      ) : (
        <Alert
          title="Oh no!"
          text={`connected to supabase, but cannot find table: ${tableName}`}
        />
      )
    ) : (
      <>
        <Alert
          title="Not connected to supabase"
          text="Please attempt to reconfigure"
        />
      </>
    )
  }
</Layout>
