---
import { getEntry } from "astro:content";
import Alert from "../components/Alert.astro";
import Guide from "../components/Guide.astro";
import Layout from "../components/Layout.astro";
import { supabase } from "../utils/database";
import Row from "../components/Row.tsx";
import Table from "../components/Table.tsx";

export const prerender = false;

const tableName = "current";

let frameworks;
let frameworksError;

console.log("hi");

// Fetch frameworks data from Supabase if connection is set up
if (supabase) {
  const { data, error } = await supabase.from(tableName).select("*");
  frameworks = data;
  frameworksError = error;
}

// Get guides
const connectGuide = await getEntry("guides", "guide-connect-supabase");
const fetchDataGuide = await getEntry("guides", "guide-fetch-data");
---

<Layout title="Hot Seat">
  {
    supabase ? (
      frameworks ? (
        <>
          <h1 class="mb-8 text-4xl font-bold">
            Who is on the Hot Seat of NFL Head Coaches?
          </h1>
          <Table source={frameworks} />
        </>
      ) : (
        <Alert
          title="Oh no!"
          text={`connected to supabase, but cannot find table: ${tableName}`}
        />
      )
    ) : (
      <>
        <Alert
          title="Not connected to supabase"
          text="Please attempt to reconfigure"
        />
      </>
    )
  }
</Layout>
