---
import { getEntry } from "astro:content";
import Alert from "../components/Alert.astro";
import Guide from "../components/Guide.astro";
import Layout from "../components/Layout.astro";
import { supabase } from "../utils/database";
import Content from "../components/Content";

export const prerender = false;

const tableName = "heat_index";

let heat_index;
let heat_index_errors;

console.log("hi");

// Fetch frameworks data from Supabase if connection is set up
if (supabase) {
  const { data, error } = await supabase.from(tableName).select("*");
  heat_index = data;
  heat_index_errors = error;
}

// Get guides
const connectGuide = await getEntry("guides", "guide-connect-supabase");
const fetchDataGuide = await getEntry("guides", "guide-fetch-data");
---

<Layout title="Hot Seat">
  {
    supabase ? (
      heat_index ? (
        <>
          <h1 class="mb-8 text-4xl font-bold">
            Who is on the Hot Seat of NFL Head Coaches?
          </h1>
          <Content source={heat_index} client:load />
        </>
      ) : (
        <Alert
          title="Oh no!"
          text={`connected to supabase, but cannot find table: ${tableName}`}
        />
      )
    ) : (
      <>
        <Alert
          title="Not connected to supabase"
          text="Please attempt to reconfigure"
        />
      </>
    )
  }
</Layout>
