---
import GitHubIcon from "@mui/icons-material/GitHub";
// import LinkedInIcon from "@mui/icons-material/LinkedIn";
---

<footer class="max-w-4xl mx-auto mt-12">
  Created by Noah Ford, UMass CICS &apos;26
  <!-- icons -->
  <div>
    <!-- github -->
    <a
      href="https://github.com/NFordUMass"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </a>
    <!-- linkedin -->
    <!-- venmo -->
  </div>
</footer>
